In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [87]:
df = pd.DataFrame(
    {
        'Name' :['Bob','John','Foo','Bar','Alex','Tom'],
        'Math' :['A+','B','A','F','D','C'],
        'English' : ['C','B','B','A+','F','A'],
        'Age' : [13,16,16,15,15,13]
    }
)

In [88]:
df

   Name Math English  Age
0   Bob   A+       C   13
1  John    B       B   16
2   Foo    A       B   16
3   Bar    F      A+   15
4  Alex    D       F   15
5   Tom    C       A   13

In [ ]:
import pandas as pd

In [4]:

for i in range(1,10):
    print("test")

test
test
test
test
test
test
test
test
test